<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="full-width">
      <button type="button" class="btn btn-primary float-right margin-top-20 margin-bottom-20" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-plus"></i>&nbsp;
        New Employee
      </button>
    </div>
  </div>
</div>

<!-- Table Code -->
<div class="container">
  <div class="row fixed-height">
    <table class="table" *ngIf="employees && employees.size">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">EmployeeID</th>
          <th scope="col">Department</th>
          <th scope="col">Email Id</th>
          <th scope="col">DOJ</th>
          <th scopr="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of getValues()">
          <td>{{emp.name}}</td>
          <td>{{emp.empId}}</td>
          <td>{{emp.dept}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.doj}}</td>
          <td><i class="fas fa-minus-circle pointer-red text-center" (click)="deleteEmp(emp)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="full-width" *ngIf="employees && employees.size">
    <button type="button" class="btn btn-primary float-right margin-top-20 margin-bottom-20" (click)="saveData()">
      Save
    </button>
  </div> -->
</div>

<!-- Modal Code -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-center">Add New Employee</h5>
        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-employee (messageEvent)="hadleEvent($event)"></app-new-employee>
      </div>
    </div>
  </div>
</div>


